@use 'sass:map';
@use 'variables' as *;

// Mixin to set font properties
@mixin font($properties) {
    font-style: map.get($properties, style);
    font-variant: map.get($properties, variant);
    font-weight: map.get($properties, weight);
    font-size: map.get($properties, size);
    line-height: map.get($properties, lineHeight);
    font-family: map.get($properties, family);
    text-transform: map.get($properties, transform);
  }

// Mixin to generate @font-face rules
@mixin font-face($font-family, $font-path, $weights: (), $display: swap) {
  @each $weight, $file in $weights {
    @font-face {
      font-family: $font-family;
      src: url('#{$font-path}/#{$file}.ttf') format('truetype');
      font-weight: $weight;
      font-display: $display;
    }
  }
}

// Font Map
@mixin apply-map($map) {
  @each $key, $value in $map {
    #{$key}: $value;
  }
}

  // Flexbox mixin
@mixin flex-container(
    $direction: row,
    $justify: flex-start,
    $items: stretch,
    $content: stretch,
    $wrap: nowrap
  ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    align-content: $content;
    flex-wrap: $wrap;
  }
  
  // Example usage:
/*   .container {
    @include flex-container(column, center, center, wrap);
  }
  
  .item {
    flex: 1 1 auto; // Example for flex property on flex items
  } */

  @mixin sliding-background($color, $duration: 0.3s) {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #fff;
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color;
      z-index: -1;
      transition: transform $duration;
      transform-origin: left;
      transform: scaleX(0);
    }
  
    &:hover:before {
      transform: scaleX(1);
    }
  }

  @mixin underscore-slide($color, $duration: 0.3s) {
    display: inline-block;
    position: relative;
    text-decoration: none;
  
    &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 7px;
        background-color: $color;
        transition: width $duration;
      }

    &:hover {
      &:before {
        width: 100%;
        transition: width $duration;
      }
    }
  }

  @mixin underscore-slide-out($color, $duration: 0.3s) {
    display: inline-block;
    position: relative;
    text-decoration: none;
  
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transform: scaleX(0);
      height: 5px;
      background-color: $color;
      transition: transform $duration;
      transform-origin: 100% 50%;
    }
  
    &:hover:before {
      transform: scaleX(1);
      transform-origin: 0% 50%;
      transition: transform $duration;
    }
  }

  // Responsive mixins
  // Main mixin for media queries
@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' non trovato";
  }
}

// Mixin for responsive container
@mixin container($size: desktop) {
  width: 100%;
  margin: 0 auto;
  padding: 0 $padding;
  
  @if map.has-key($container-max-widths, $size) {
    max-width: map.get($container-max-widths, $size);
  }
  
  @include respond-to(smartphone) {
    padding: 0 $padding * 2;
  }
}

// Mixin for fluid typography
@mixin fluid-text($min-size, $max-size, $min-width: 320px, $max-width: 1200px) {
  font-size: $min-size;
  
  @media screen and (min-width: $min-width) {
    font-size: calc(#{$min-size} + #{strip-unit($max-size - $min-size)} * ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)}));
  }
  
  @media screen and (min-width: $max-width) {
    font-size: $max-size;
  }
}