// uses
@use 'sass:color';

// imports
@import '_reset';
@import '_variables'; // contains all the variables such colors, padding, margins and so on
@import '_mixins';
//@import '_common'; // all basic roles
@import '_typography';
//@import "_header";
//@import "_page";
//@import "_home";
//@import "_blog";
//@import "_server";
//@import "_supportami";
//@import "_about";
//@import "_responsive";

//variables